mqtt.json
[{"id":"67d7f195.a9fe3","type":"inject","z":"b8d26b56.18b9f8","name":"Get GW Configuration","topic":"807D3AB9C51C/config/get","payload":"{ \"data\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":280,"wires":[["654fcc4b.a517d4"]]},{"id":"654fcc4b.a517d4","type":"mqtt out","z":"b8d26b56.18b9f8","name":"","topic":"","qos":"","retain":"","broker":"4be5debe.f3d7a","x":790,"y":440,"wires":[]},{"id":"8861ff16.6b253","type":"mqtt in","z":"b8d26b56.18b9f8","name":"Reply Messages","topic":"807D3AB9C51C/reply","qos":"0","datatype":"auto","broker":"4be5debe.f3d7a","x":820,"y":380,"wires":[["56a5ba73.02c7a4"]]},{"id":"56a5ba73.02c7a4","type":"debug","z":"b8d26b56.18b9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":440,"wires":[]},{"id":"9275a31d.accd6","type":"inject","z":"b8d26b56.18b9f8","name":"Get Cloud Configuration","topic":"807D3AB9C51C/config/get","payload":"{ \"data\":1 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":320,"wires":[["654fcc4b.a517d4"]]},{"id":"cd9e1e6c.2c1f","type":"inject","z":"b8d26b56.18b9f8","name":"Get SYSLOG Configuration","topic":"807D3AB9C51C/config/get","payload":"{ \"data\":2 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":360,"wires":[["654fcc4b.a517d4"]]},{"id":"f151a322.15d86","type":"inject","z":"b8d26b56.18b9f8","name":"Get Heartbeat Information","topic":"807D3AB9C51C/config/get","payload":"{ \"data\":2 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":400,"wires":[["654fcc4b.a517d4"]]},{"id":"b91cbc08.d04d4","type":"inject","z":"b8d26b56.18b9f8","name":"Perform restart","topic":"807D3AB9C51C/config/get","payload":"{\"mac\":\"807D3AB9C51C\",\"delay\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":700,"wires":[["654fcc4b.a517d4"]]},{"id":"65d529c7.1fecc8","type":"inject","z":"b8d26b56.18b9f8","name":"Enable Web","topic":"807D3AB9C51C/config/web","payload":"{\"web\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":500,"wires":[["654fcc4b.a517d4"]]},{"id":"11442d98.36df02","type":"inject","z":"b8d26b56.18b9f8","name":"Disable Web","topic":"807D3AB9C51C/config/web","payload":"{\"web\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":540,"wires":[["654fcc4b.a517d4"]]},{"id":"ad5d37f1.179d78","type":"inject","z":"b8d26b56.18b9f8","name":"Update MQTT","topic":"807D3AB9C51C/config/cloud","payload":"{\"mode\":1,\"host\":\"hostname.url.com\",\"port\":1883,\"username\":\"name\",\"password\":\"safe\",\"topic1\":\"ruuviGW\",\"topic2\":\"room1\",\"epoch\":0,\"dble\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":580,"wires":[["654fcc4b.a517d4"]]},{"id":"c6aacd3.1f6a53","type":"inject","z":"b8d26b56.18b9f8","name":"Update HTTP","topic":"807D3AB9C51C/config/cloud","payload":"{\"mode\":0,\"host\":\"http://hostname.url.com\",\"epoch\":0,\"dble\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":620,"wires":[["654fcc4b.a517d4"]]},{"id":"631e1748.5bd3d8","type":"inject","z":"b8d26b56.18b9f8","name":"Update SYSLOG","topic":"807D3AB9C51C/config/syslog","payload":"{\"host\":\"hostname.url.com\",\"port\":6514,\"tcp\":1,\"TZ\":8}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":660,"wires":[["654fcc4b.a517d4"]]},{"id":"4be5debe.f3d7a","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.8.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
